repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
      - id: fix-byte-order-marker
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
        - id: ruff
          args: [ --fix ]
        - id: ruff-format
ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false
